<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />

    <httpRuntime maxRequestLength="1048576"  executionTimeout="3600"   />
  </system.web>
  <connectionStrings>

    <add name="sqlcon" connectionString="Data Source=KSC-PC;Initial Catalog=YOUTUBE_DB.MDF;Integrated Security=True"/>
  </connectionStrings>

</configuration>
